<?xml version="1.0" encoding="UTF-8"?>

<!-- Default security configuration.
   - User accounts and roles are handled by JAMWiki
-->

<b:beans xmlns="http://www.springframework.org/schema/security"
    xmlns:b="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
                        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<!-- ======================== FILTER CHAIN ======================= -->

	<b:bean id="filterChainProxy" class="org.springframework.security.util.FilterChainProxy">
		<b:property name="filterInvocationDefinitionSource">
			<b:value><![CDATA[
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionContextIntegrationFilter,logoutFilter,authenticationProcessingFilter,securityContextHolderAwareRequestFilter,rememberMeProcessingFilter,anonymousProcessingFilter,exceptionTranslationFilter,exceptionMessageFilter,filterInvocationInterceptor
			]]></b:value>
		</b:property>
	</b:bean>

	<!-- ======================== HTTP Session integration ======================== -->

	<b:bean id="httpSessionContextIntegrationFilter" class="org.springframework.security.context.HttpSessionContextIntegrationFilter" />

	<!-- ======================== Authentication ======================== -->

	<!-- +++++++++ Filter to process authentication +++++++++ -->

	<b:bean id="authenticationProcessingFilter" class="org.jamwiki.authentication.JAMWikiAuthenticationProcessingFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<!-- do not include virtual wiki in the url, JAMWikiAuthenticationProcessingFilter adds it -->
		<b:property name="authenticationFailureUrl" value="/Special:Login?message=error.login" />
		<!-- special hard-coded constant indicating default for virtual wiki -->
		<b:property name="defaultTargetUrl" value="/DEFAULT_VIRTUAL_WIKI" />
		<!-- do not include virtual wiki in the url, JAMWikiAuthenticationProcessingFilter adds it -->
		<b:property name="filterProcessesUrl" value="/j_acegi_security_check" />
		<b:property name="rememberMeServices" ref="rememberMeServices" />
	</b:bean>

	<b:bean id="securityContextHolderAwareRequestFilter" class="org.springframework.security.wrapper.SecurityContextHolderAwareRequestFilter"/>

	<b:bean id="authenticationManager" class="org.springframework.security.providers.ProviderManager">
		<b:property name="providers">
			<b:list>
				<b:ref local="daoAuthenticationProvider" />
				<b:ref local="anonymousAuthenticationProvider" />
				<b:ref local="rememberMeAuthenticationProvider" />
			</b:list>
		</b:property>
	</b:bean>

	<!-- Automatically receives AuthenticationEvent messages -->
	<b:bean id="loggerListener" class="org.springframework.security.event.authentication.LoggerListener" />

	<!-- +++++++++ Authenticate from JAMWiki database +++++++++ -->

	<b:bean id="daoAuthenticationProvider" class="org.jamwiki.authentication.JAMWikiDaoAuthenticationProvider">
		<b:property name="userDetailsService" ref="jamWikiAuthenticationDao" />
		<b:property name="userCache" ref="userCache" />
	</b:bean>

	<b:bean id="jamWikiAuthenticationDao" class="org.jamwiki.authentication.JAMWikiDaoImpl" />

	<!-- +++++++++ User cache +++++++++ -->

	<b:bean id="userCache" class="org.springframework.security.providers.dao.cache.EhCacheBasedUserCache">
		<b:property name="cache" ref="userCacheBackend" />
	</b:bean>

	<b:bean id="userCacheBackend" class="org.springframework.cache.ehcache.EhCacheFactoryBean">
		<b:property name="cacheManager" ref="cacheManager" />
		<b:property name="cacheName" value="userCache" />
	</b:bean>

	<b:bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean" />

	<!-- +++++++++ Anonymous authentication +++++++++ -->
	<!-- Anonymous users are assigned ROLE_ANONYMOUS to be able to allow exceptions to general access rules -->

	<b:bean id="anonymousProcessingFilter" class="org.jamwiki.authentication.JAMWikiAnonymousProcessingFilter">
		<b:property name="key" value="jam35Wiki" />
		<b:property name="userAttribute" value="anonymousUser,ROLE_ANONYMOUS" />
	</b:bean>

	<b:bean id="anonymousAuthenticationProvider" class="org.springframework.security.providers.anonymous.AnonymousAuthenticationProvider">
		<b:property name="key" value="jam35Wiki" />
	</b:bean>

	<!-- +++++++++ RememberMe service +++++++++ -->

	<b:bean id="rememberMeProcessingFilter" class="org.springframework.security.ui.rememberme.RememberMeProcessingFilter">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="rememberMeServices" ref="rememberMeServices" />
	</b:bean>

	<b:bean id="rememberMeServices" class="org.springframework.security.ui.rememberme.TokenBasedRememberMeServices">
		<b:property name="userDetailsService" ref="jamWikiAuthenticationDao" />
		<b:property name="key" value="jam35Wiki" />
	</b:bean>

	<b:bean id="rememberMeAuthenticationProvider" class="org.springframework.security.providers.rememberme.RememberMeAuthenticationProvider">
		<b:property name="key" value="jam35Wiki" />
	</b:bean>

	<b:bean id="logoutFilter" class="org.jamwiki.authentication.JAMWikiLogoutFilter">
		<!-- special hard-coded constant indicating default for virtual wiki -->
		<b:constructor-arg value="/DEFAULT_VIRTUAL_WIKI" />
		<b:constructor-arg>
			<b:list>
				<b:ref bean="rememberMeServices" />
				<b:bean class="org.springframework.security.ui.logout.SecurityContextLogoutHandler" />
			</b:list>
		</b:constructor-arg>
		<!-- do not include virtual wiki in the url, JAMWikiLogoutFilter adds it -->
		<b:property name="filterProcessesUrl" value="/Special:Logout" />
	</b:bean>

	<!-- ======================== Authorization ======================== -->

	<!-- +++++++++ Access Decision: is access allowed? +++++++++ -->

	<b:bean id="roleVoter" class="org.springframework.security.vote.RoleVoter" />

	<b:bean id="accessDecisionManager" class="org.springframework.security.vote.AffirmativeBased">
		<b:property name="allowIfAllAbstainDecisions" value="false" />
		<b:property name="decisionVoters">
			<b:list>
				<b:ref local="roleVoter" />
			</b:list>
		</b:property>
	</b:bean>

	<!-- +++++++++ Error Message Provider +++++++++ -->
	
	<!-- specify default error messages when access is denied to a specific URL -->
	<b:bean id="errorMessageProvider" class="org.jamwiki.authentication.JAMWikiErrorMessageProvider">
		<b:property name="urlPatterns">
			<b:value><![CDATA[
				PATTERN_TYPE_APACHE_ANT
				/**/Special:Admin=login.message.admin
				/**/Special:Edit=login.message.edit
				/**/Special:Maintenance=login.message.admin
				/**/Special:Manage=login.message.admin
				/**/Special:Move=login.message.move
				/**/Special:Roles=login.message.admin
				/**/Special:Translation=login.message.admin
				/**/*=login.message.default
			]]></b:value>
		</b:property>
	</b:bean>

	<!-- add exception message to the request -->
	<b:bean id="exceptionMessageFilter" class="org.jamwiki.authentication.JAMWikiExceptionMessageFilter">
		<b:property name="errorMessageProvider" ref="errorMessageProvider" />
	</b:bean>

	<!-- +++++++++ Enforce Security based on URLs  +++++++++ -->

	<b:bean id="exceptionTranslationFilter" class="org.springframework.security.ui.ExceptionTranslationFilter">
		<b:property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<b:property name="accessDeniedHandler">
			<b:bean class="org.jamwiki.authentication.JAMWikiAccessDeniedHandler">
				<!-- do not include virtual wiki in the url, JAMWikiAccessDeniedHandler adds it -->
				<b:property name="errorPage" value="/Special:Login" />
			</b:bean>
		</b:property>
	</b:bean>

	<!-- Redirection of user login -->
	<b:bean id="authenticationEntryPoint" class="org.jamwiki.authentication.JAMWikiAuthenticationProcessingFilterEntryPoint">
		<!-- do not include virtual wiki in the url, JAMWikiAuthenticationProcessingFilterEntryPoint adds it -->
		<b:property name="loginFormUrl" value="/Special:Login" />
		<!-- a PortMapper has to be configured if this is true and we are not using default ports -->
		<b:property name="forceHttps" value="false" />
	</b:bean>
	
	<b:bean id="filterInvocationInterceptor" class="org.springframework.security.intercept.web.FilterSecurityInterceptor">
		<b:property name="authenticationManager" ref="authenticationManager" />
		<b:property name="accessDecisionManager" ref="accessDecisionManager" />
		<b:property name="objectDefinitionSource">
			<b:value><![CDATA[
				PATTERN_TYPE_APACHE_ANT
				/**/Special:Admin=ROLE_SYSADMIN
				/**/Special:Edit=ROLE_EDIT_EXISTING,ROLE_EDIT_NEW
				/**/Special:Login=ROLE_ANONYMOUS,ROLE_USER
				/**/Special:Maintenance=ROLE_SYSADMIN
				/**/Special:Manage=ROLE_ADMIN
				/**/Special:Move=ROLE_MOVE
				/**/Special:RecentChangesFeed=ROLE_ANONYMOUS,ROLE_USER
				/**/Special:Roles=ROLE_SYSADMIN
				/**/Special:Setup=ROLE_ANONYMOUS,ROLE_USER
				/**/Special:Translation=ROLE_TRANSLATE
				/**/Special:Upload=ROLE_UPLOAD
				/**/Special:Upgrade=ROLE_ANONYMOUS,ROLE_USER
				/**/*.jsp=ROLE_ANONYMOUS,ROLE_USER
				/**/*.css=ROLE_ANONYMOUS,ROLE_USER
				/images/**=ROLE_ANONYMOUS,ROLE_USER
				/js/**=ROLE_ANONYMOUS,ROLE_USER
				/upload/**=ROLE_ANONYMOUS,ROLE_USER
				/**=ROLE_VIEW
			]]></b:value>
		</b:property>
	</b:bean>

</b:beans>
