<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.3">

    <!-- old ApplicationResources file -->
    <context-param>
        <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
        <param-value>ApplicationResources</param-value>
    </context-param>
    
    <!-- old filters -->
    <!--
    <filter>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>org.jmwiki.servlets.SetCharacterEncodingFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    -->

    <servlet>
        <servlet-name>jmwiki</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <!-- old style servlets -->
    <servlet>
        <servlet-name>SaveTopic</servlet-name>
        <servlet-class>org.jmwiki.servlets.SaveTopicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Wiki</servlet-name>
        <servlet-class>org.jmwiki.servlets.WikiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>org.jmwiki.servlets.SearchServlet</servlet-class>
    </servlet>
    <!--
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>org.jmwiki.servlets.AdministrationServlet</servlet-class>
    </servlet>
    -->
    <servlet>
        <servlet-name>SaveAttachment</servlet-name>
        <servlet-class>org.jmwiki.servlets.SaveAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTemplate</servlet-name>
        <servlet-class>org.jmwiki.servlets.SaveTemplateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Notify</servlet-name>
        <servlet-class>org.jmwiki.servlets.NotifyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MenuJump</servlet-name>
        <servlet-class>org.jmwiki.servlets.MenuJumpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewAttachment</servlet-name>
        <servlet-class>org.jmwiki.servlets.ViewAttachmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Diff</servlet-name>
        <servlet-class>org.jmwiki.servlets.DiffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attach</servlet-name>
        <servlet-class>org.jmwiki.servlets.AttachServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Member</servlet-name>
        <servlet-class>org.jmwiki.servlets.MemberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Printable</servlet-name>
        <servlet-class>org.jmwiki.servlets.PrintableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Edit</servlet-name>
        <servlet-class>org.jmwiki.servlets.EditServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>org.jmwiki.servlets.HistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LockList</servlet-name>
        <servlet-class>org.jmwiki.servlets.LockListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Unlock</servlet-name>
        <servlet-class>org.jmwiki.servlets.UnlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>org.jmwiki.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentChanges</servlet-name>
        <servlet-class>org.jmwiki.servlets.RecentChangesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RSS</servlet-name>
        <servlet-class>org.jmwiki.servlets.RSSServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Import</servlet-name>
        <servlet-class>org.jmwiki.servlets.ImportServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>jmwiki</servlet-name>
        <url-pattern>*.html</url-pattern>
    </servlet-mapping>
    
    <!-- old style mappings -->
    <servlet-mapping>
        <servlet-name>Wiki</servlet-name>
        <url-pattern>/jsp/Wiki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Wiki</servlet-name>
        <url-pattern>/test/Wiki</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTopic</servlet-name>
        <url-pattern>/SaveTopicServlet</url-pattern>
    </servlet-mapping>
    <!--
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/AdministrationServlet</url-pattern>
    </servlet-mapping>
    -->
    <servlet-mapping>
        <servlet-name>SaveAttachment</servlet-name>
        <url-pattern>/SaveAttachmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTemplate</servlet-name>
        <url-pattern>/SaveTemplateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Notify</servlet-name>
        <url-pattern>/NotifyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MenuJump</servlet-name>
        <url-pattern>/MenuJumpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewAttachment</servlet-name>
        <url-pattern>/ViewAttachmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Diff</servlet-name>
        <url-pattern>/DiffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attach</servlet-name>
        <url-pattern>/AttachServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Member</servlet-name>
        <url-pattern>/MemberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Printable</servlet-name>
        <url-pattern>/PrintableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Edit</servlet-name>
        <url-pattern>/EditServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/HistoryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LockList</servlet-name>
        <url-pattern>/LockListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Unlock</servlet-name>
        <url-pattern>/UnlockServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentChanges</servlet-name>
        <url-pattern>/RecentChanges</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RSS</servlet-name>
        <url-pattern>/RSS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Import</servlet-name>
        <url-pattern>/ImportServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
    </welcome-file-list>

    <jsp-config>
        <taglib>
            <taglib-uri>/spring</taglib-uri>
            <taglib-location>/WEB-INF/spring.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>