<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="jamwiki" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>jamwiki.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>jamwiki.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	<logger name="org.jamwiki" level="WARN" />
	<root level="WARN">
		<appender-ref ref="jamwiki" />
	</root>
</configuration>
